body {
  background-color: gray;
  color: black;
  font-family: "Exo 2", sans-serif;
  padding-bottom: 100px;
}

/* Added this for App.js 'container' class */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.headNavCont {
  background-color: #6f42c1;
}



/* Header styles */

img.controller {
  max-height: 60px;
}

.header {
  background-color: #148c3c;
  border-bottom-style: solid;
  border-color: #150811;
}

/* Footer Styles */

footer {
  background-color: #6f42c1;
  border-top-style: solid;
  border-color: #150811;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.footerCont {
  background-color: #6f42c1;
}

.zoom {

  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(
    1.2
  );
}

.img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Navbar Styles */

.navbar {
  width: 100%;
  padding: 0;
  background-color: #6f42c1;
}

.user-buttons {
  height: auto;
  margin: 8px;
  padding: 6px 12px;
}

.nav-btn {
  margin: 8px;
  padding: 6px 12px;
  color: black;
  border-top-style: double;
  border-bottom-style: double;
  cursor: pointer;
  text-decoration: none;
  height: max-content;
}

.nav-btn:hover {
  color: bisque;
}

/* Home Page Styles */

.cardbody {
  background-color: #148c3c;
  color: #FFE4C4;
  margin: 8px;
  justify-content: center;
  display: block;
}

div.card {
  background-color: #148c3c;
}

.img {
  border-style: solid;
  border-color: #148c3c;
  border-radius: 3%;
  width: 150px;
}

.cardGameInfo {
  text-decoration: none;
  text-align: center;
  color: #FFE4C4;
  padding: 6px 12px;
  width: 100%;
}

/* Single Game Page */
div.gameTitle {
  display: flex;
  justify-content: center;
  margin: 8px;
  padding: 6px 12px;
}

h1.gameTitle {
  width: fit-content;
  margin: 8px;
  padding: 6px 12px;
}

.imgDisplay{
  border-style: solid;
  border-color: #6f42c1;
  border-width: 5px;
  border-radius: 5%;
}

div.gameInfo {
  border-left-style: double;
  border-bottom: double;
  position: relative;
}

div.gameDescContainer {
  margin: 8px;
  padding: 6px 12px;
}

.gameDesc {
  margin: 8px;
  padding: 6px 0px;

}

p.gameDesc {
  margin: 8px;
  padding: 6px 12px;
  height: 100px;
  border-style: double;
  border-color: #6f42c1;
}

div.gameSaleInfo {
  margin: 8px;
  padding: 6px 12px 6px  12px;
  justify-content: space-between;
  display: flex;
}

span.gameSaleInfo {
  margin: 8px;
  padding: 6px 12px;
  font-size: x-large;
}

div.addCartBtn {
  display: flex;
  justify-content: center;
  margin: 12px;
  padding-top: 12px;
  
}

button.addToCart {
  background-color: #6f42c1;
}

button.addToCart:hover {
  background-color: bisque;
  color: #6f42c1;
}


/* default button colors */
.btn-primary {
      --bs-btn-color: bisque;
    --bs-btn-bg: #6f42c1;
    --bs-btn-border-color: #6f42c1;
    --bs-btn-hover-color: bisque;
    --bs-btn-hover-bg: #6f42c1;
    --bs-btn-hover-border-color: #6f42c1;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: bisque;
    --bs-btn-active-bg: #6f42c1;
    --bs-btn-active-border-color: #6f42c1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: bisque;
    --bs-btn-disabled-bg: #6f42c1;
    --bs-btn-disabled-border-color: #6f42c1;
}
