body {
    background-color: gray;
    color: black;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 100px;
}


/* Added this for App.js 'container' class */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cardbody {
    background-color: #6f42c1;
    color: whitesmoke;
}

.footer {
    background-color: #6f42c1;
}

.header {
    background-color: #6f42c1;

}

.zoom {
    /* padding: 50px; */
    transition: transform .2s; /* Animation */
    /* width: 200px;
    height: 200px;
    margin: 0 auto; */
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.img {
    border: 1px solid #6f42c1;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  .img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }