body {
    background-color: gray;
    color: black;
    font-family: 'Exo 2', sans-serif;
}

.cardbody {
    background-color: blueviolet;
}

/* Added this for App.js 'container' class */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}